<h1 id="report_model.title">{{ report_model.title }}</h1>
<h2 id="code"><em>Описание эксперимента</em></h2>
<ul>
<li>{{ report_model.description }}</li>
</ul>
<h2 id="проверяемая-гипотеза"><em>Проверяемая гипотеза</em></h2>
<p>Проводится исследование зависимости величины регрета от общего числа
доступных ручек. Предполагается, что регрет будем больше, чем большее
кол-во ручек участвует в эксперименте. Также оценивается влияние
одновременно выбираемых ручек на величину регрета.</p>
<h2 id="параметры-эксперимента"><em>Параметры эксперимента</em></h2>
<ul>
<li>алгоритм: {{ report_model.algo_name }}</li>
<li>модель пользователя: {{ report_model.user_model_name }}</li>
<li>параметризация модели пользователя: np.arange(0.99, 0.99 -
int(M)*0.05, -0.05)</li>
<li>число триалов: {{ report_model.trial_num }}</li>
<li>кол-во раундов: {{ report_model.round_num }}</li>
<li>epsilon: {{ report_model.eta }}</li>
</ul>
<h2 id="результаты-эксперимента"><em>Результаты эксперимента</em></h2>
<figure>
<img src="%7B%7B%20%20report_model.figure_1%20%20%7D%7D"
class="align-center"
alt="%7B%7B%20%20report_model.figure_1%20%20%7D%7D" />
<figcaption>Рис 1: {{ report_model.figure_1_desc }}</figcaption>
</figure>
<h2 id="выводы"><em>Выводы</em></h2>
<p>{{ report_model.conclusion }}</p>
